.suggestion-preview-container{
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    // background-color: lightgrey
}

p{
    padding:2px
}